/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

li
{
  margin-bottom: 8px;
}

.fascist-board
{
  height: 100px;
  background-color: #ffe6e6;
  padding: 0;
  margin: 0;
}

.fascist-slot
{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 15%;
  border-left: 1px solid black;
  height: 100px;
}

.fascist-card
{
  display: inline-block;
  background: red;
  margin: 0;
  padding: 0;
  width: 15%;
  border-left: 1px solid black;
  height: 100px;
}

.liberal-board
{
  height: 100px;
  background-color: #e6e6ff;
  padding: 0;
  margin: 0;
}

.liberal-slot
{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 18%;
  border-left: 1px solid black;
  height: 100px;
}

.liberal-card
{
  display: inline-block;
  background: blue;
  margin: 0;
  padding: 0;
  width: 18%;
  border-left: 1px solid black;
  height: 100px;
}

.liberal-victory-message
{
  font-weight: bold;
  color: blue;
}

.fascist-victory-message
{
  font-weight: bold;
  color: red;
}
