In this game, there are <%= liberal_count(@game) %> liberals and <%= fascist_count(@game) %> fascists.
<br/>
You are hitler.

There are <%= fascist_count(@game) - 1 %> other fascists.
<br/>
They know who you are.
